.navbar
{
    height: 70px;
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}
.li{
    color: black;
    font-size: 26px;
}
.nav-logo
{
    display: flex;
    align-items:center;
    gap: 10px;
}
.nav-logo p{
    color: black;
    font-size: 38px;
    font-weight: 600;
    text-transform: uppercase;
}
.nav-menu
{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;
}
Link{
    text-decoration: none;
}
.nav-menu li{
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    margin-left: 5px;
    
}
 .nav-menu hr{
    width: 40px;
    height: 3px;
    background: red;
   
   
}
.nav-logo img{
    width: 40%;
    height: 80px;
    border-radius: 50%;
}
.nav-login-cart{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 24px;
}
.nav-login-cart button
{
    width: 140px;
    height: 40px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
    margin-left: 40px;
}
.nav-login-cart button:active
{
    background:yellow;
}
.nav-cart-count
{
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -0px;
    margin-left: -39px;
    border-radius: 11px;
    background: red;
    color: white;
    
}


